@import "variables.css";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  background-color: var(--bs-body-bg);
  transition: background 0.2s linear;
}

.header > hr {
  text-align: center;
  width: 100%;
  padding: 0 !important;
}
.title {
  text-align: left;
  width: 10em;
}

.nav-text {
  padding: 0 0 0 5%;
  font-size: 4em;
  margin: 0 !important;
}
.navbar > img {
  height: 5em;
  padding: 0;
}

.nav-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
}

.nav-button {
  margin-right: 1vw;
}

.nav-button > img {
  width: 1.75em;
  /* margin: -1 !important; */
}

.progress {
  margin: 1em auto;
  width: 50%;
  display: none;
}

.progressbar {
  position: relative;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: 0.5px 0.5px #5c5c5c;
  padding: 3px;
  margin: 2px 0px;
  display: none;
}

.progresstext {
  position: absolute;
  width: 100%;
  margin: 3px 0px;
  text-align: center;
  font-size: 0.7em;
}

.progressfill {
  height: 20px;
  border-radius: 4px;
  background-color: #dc5635;
  width: 0%;
}

.sorter-title {
  padding: 0 0 0 5%;
  margin: 0 !important;
}

.card > img {
  border-radius: 1em;
}

.starting.load.button {
  display: none;
}

.start-button {
  width: 100%;
  height: 100%;
}

#start-icon {
  width: 4em;
}

#result-buttons {
  display: none;
}

#sorting-buttons {
  display: none;
}

#start-buttons {
  display: block;
}

#starting-line {
  display: none;
  width: 61%;
}

#starting-line > hr {
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 2px;
  border: 0;
  width: 0;
  border-top: 2px solid #dc5635;
  animation: separator-width 1s ease-out;
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.sort.text {
  max-width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #000;
  font-size: calc(50% + 0.5vw);
}

.sorted-text {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  background-color: whitesmoke;
  font-size: 8vw;
}

.left.cover-dot {
  height: 0.5em;
  width: 0.5em;
  background-color: #ff6e6e;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: -0.5vw;
  margin-left: -0.5vw;
}

.left.instrumental-dot {
  height: 0.5em;
  width: 0.5em;
  background-color: #6effec;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: -0.5vw;
}

.right.cover-dot {
  height: 0.5em;
  width: 0.5em;
  background-color: #ff6e6e;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  margin-top: -0.5vw;
  margin-left: auto;
}

.right.instrumental-dot {
  height: 0.5em;
  width: 0.5em;
  background-color: #6effec;
  border-radius: 50%;
  display: inline-block;
  /* float: right; */
  margin-top: -0.5em;
  margin-left: auto;
  margin-right: -0.5em;
}

.image-container {
  max-width: 25em;
  max-height: 25em;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  object-fit: contain;
}

.options {
  margin: 1em auto;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.options > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(50% + 0.5vw);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.selector {
  display: none;
}

label {
  cursor: pointer;
}

label:hover {
  color: #990000;
}

.options > .large.option,
.options > hr {
  grid-column: span 3;
  text-align: center;
  width: 100%;
}

.time.taken {
  margin-top: 0.5em;
  width: 90%;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.results {
  display: none;
  width: 90%;
  -webkit-column-count: 5; /* Chrome, Safari, Opera */
  -moz-column-count: 5; /* Firefox */
  column-count: 5;
}

@media (max-width: 600px) {
  .results {
    display: none;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

.resultHeader {
  display: none;
  width: 100%;
}

#info {
  margin: 2em auto 3em;
  display: block;
  text-align: center;
  font-size: 0.6875em;
  width: 80%;
  line-height: 1.2em;
}

#info > p {
  margin: 0 !important;
}

@media (max-width: 600px) {
  .progress {
    width: 90%;
  }
  .options {
    width: 95%;
  }
}
